html, body {
    margin: 0;
 
}

#controls.playing .play-button, #controls.game-over .play-button {
    display: none;

}
#controls:not(.playing) .pause-button, #controls:not(.playing) .resume-button {
    display: none;

}
#controls.paused .pause-button {
    display: none;

}
#controls:not(.paused) .resume-button {
    display: none;

}
#controls:not(.game-over) .restart-button {
    display: none;

}

#board {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    border: 2px solid #000;
    margin: 20px 10vw;
    position: relative;
    background: #008000

}

div.row {
    flex: 1;
    display: flex;
    flex-direction: row;

}
div.col {
    flex: 1;
    height: 100%;

}
div.col.snake {
    background: #800080 !important;
}

div.col.food {
    background: #FF0000;
}

div#gameOver {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 250px;
    width: 100%;
    height: 100%;
    font-size: 40px;
    padding-right: 450px;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}
#board.game-over div#gameOver {
    display: block;
}


.h2 {
    margin-left: 130px;
    display: flex;
    height: 5vh;
    width: 10vw;
    border: 1px;
    position: relative;
    background: #800080;
    text-align: center;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 6px;

}

.score{
margin-left: 10px;
}

